.bodycolor{
    background-color: rgb(71,99,200);
}

h1{
    text-align: center;
    color: #FFFFFF;
}


td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #FFFFFF;
}

table{
    width: 100%;
}



tr:hover {
background-color: coral;
}



th {
  border-bottom: 1px solid #ddd;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}